.header {
    background-color: aliceblue;
}

.dark {
    background-color: #021431;
}

.container {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

.head-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 100px;
}

.head-container h1 {
    padding: 10px 18px;
    background-color: #057AFF;
    color: white;
    border-radius: 10px;
    user-select: none;
    cursor: pointer;
    transition: 0.5s all;
}

.head-container h1:active {
    transform: scale(0.95);
}

.headSame {
    display: flex;
    align-items: center;
}

.headTitle {
    list-style: none;

}

.headTitle a:hover {
    background-color: rgb(215, 232, 238);
}

.headTitle a {
    text-decoration: none;
    color: #394E6A;
    background-color: transparent;
    width: 100px;
    text-align: center;
    padding: 8px 16px;
    border-radius: 6px;
}

.headTitle a.active {
    background-color: #021431;
    color: #C7C9D1;
}

.appSame {
    display: flex;
    align-items: center;
    gap: 20px;
    user-select: none;
}

.styleImg {
    transition: 0.4s all;
    cursor: pointer;
}

.styleImg:active {
    transform: scale(1.20);
    filter: drop-shadow(2px 2px 2px #394E6A);
}

.darkStyleImg {
    filter: drop-shadow(2px 2px 2px aliceblue);
    cursor: pointer;
}